doctype html
html
  head
    style
      include style.css
  body
    .article
        <h4> #{nameInPug} 同学, #{dateInPug} - 授课概要： 
        <h4 style="white-space: pre-line">日期： #{dateInPug}</h4>
        <h4 style="white-space: pre-line">授课内容： #{sessionInPug}</h4>
        <h4 style="white-space: pre-line">课后作业： #{homeworkInPug}</h4>
        

         <hr>
            <h4> 自动生成邮件, 请勿回复！如有问题，微信 neil18488, 电话 <a href="tel:0420831908">0420831908</a>
                
                   p DISCLAIMER: The information in this e-mail may be confidential and/or legally privileged. It is intended solely for the addressee. Access to this e-mail by anyone else is unauthorised. If you are not the intended recipient, any disclosure, copying, distribution or any action taken or omitted to be taken in reliance on it, is prohibited and may be unlawful. If you have received this email in error, please delete it from your system and notify the sender immediately. 51Pass.com does not represent, warrant or guarantee that the integrity of this communication has been maintained or that the communication is free of errors, virus or interference.

